In [2]:
import pandas as pd

# Analysis
## Features

In [76]:
df = pd.read_csv('data/vals_transformed.csv', sep=',')

In [ ]:
#features only
df_features = df.iloc[: , 1:-7]

# df_features

In [ ]:
df_dist = df_features.isna().sum().to_frame()

df_dist = df_dist.rename(columns={0: 'cnt_not_given'})
df_dist['cnt_given'] = df_features.shape[0] - df_dist['cnt_not_given']
df_dist['pct'] = df_dist['cnt_given'] / df_features.shape[0]


df_dist.sort_values(by=['pct'], inplace=True, ascending=False)

df_result = df_dist[(df_dist['pct'] >= 0.5)]

df_result.head(50)

## Language

In [ ]:
df = pd.read_csv('data/vals_transformed.csv', sep=',', index_col=0)

In [161]:
lst = [i for i in df_result.index]

df_vals = df
df_vals = df_vals[lst]
df_vals

# df_vals.to_csv('data/foo.csv')

,53A,82A,97A,95A,83A,87A,81A,85A,138A,16A,...,90A,96A,37A,101A,92A,33A,72A,38A,90C,94A
LANG_ID,,,,,,,,,,,,,,,,,,,,,
alb,6.0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,1.0,NaN,...,1.0,4.0,3.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0
alt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
blr,7.0,3.0,5.0,5.0,3.0,1.0,7.0,NaN,1.0,NaN,...,1.0,5.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
bos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
urm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vep,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vot,7.0,NaN,NaN,5.0,NaN,NaN,NaN,4.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
wel,7.0,2.0,4.0,4.0,2.0,2.0,3.0,2.0,2.0,1.0,...,1.0,4.0,1.0,NaN,1.0,2.0,4.0,4.0,1.0,1.0
ydd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
df_x = df_vals.isnull().sum(axis=1).to_frame()

df_x = df_x.rename(columns={0: 'cnt_not_given'})
df_x['cnt_given'] = df_vals.shape[1] - df_x['cnt_not_given']
df_x['pct'] = df_x['cnt_given'] / df_vals.shape[1]

df_x.sort_values(by=['pct'], inplace=True, ascending=False)

df_x.head(50)

         cnt_not_given  cnt_given       pct
LANG_ID
rus                  0         37  1.000000
swe                  0         37  1.000000
iri                  0         37  1.000000
fre                  0         37  1.000000
fin                  0         37  1.000000
ita                  0         37  1.000000
est                  0         37  1.000000
eng                  0         37  1.000000
dut                  0         37  1.000000
dsh                  0         37  1.000000
cze                  0         37  1.000000
lat                  0         37  1.000000
lit                  0         37  1.000000
spa                  0         37  1.000000
nor                  0         37  1.000000
pol                  0         37  1.000000
ger                  0         37  1.000000
wel                  1         36  0.972973
hun                  1         36  0.972973
bre                  2         35  0.945946
rom                  2         35  0.945946
scr                  3         34  0.918919
ice                  3         34  0.918919
alb                  3         34  0.918919
ukr                  4         33  0.891892
bul                  4         33  0.891892
bsq                  4         33  0.891892
gae                  4         33  0.891892
crn                  5         32  0.864865
ctl                  6         31  0.837838
slo                  8         29  0.783784
uby                  9         28  0.756757
srd                 10         27  0.729730
mcd                 12         25  0.675676
blr                 14         23  0.621622
fri                 17         20  0.540541
srb                 19         18  0.486486
vot                 28          9  0.243243
far                 30          7  0.189189
svk                 32          5  0.135135
liv                 33          4  0.108108
lno                 33          4  0.108108
krl                 33          4  0.108108
svc                 34          3  0.081081
glc                 34          3  0.081081
rmc                 35          2  0.054054
vep                 36          1  0.027027
ksu                 36          1  0.027027
mol                 36          1  0.027027
lux                 36          1  0.027027