# Preparations
- Imports
- Read csvs

In [1]:
import pandas as pd

In [2]:
df_lang = pd.read_csv('data/languages.csv', sep=',', index_col=0 )
df_vals = pd.read_csv('data/values.csv')

# Transform values.csv

In [6]:
df_transformed = df_vals.pivot(index='Language_ID', columns='Parameter_ID', values='Value')

In [ ]:
df_vals[df_vals['Language_ID'] == 'aab'].head(3)

In [8]:
df_transformed.filter(items=['aab'], axis = 0)[['81A', '82A', '83A']]

Parameter_ID  81A  82A  83A
Language_ID
aab           2.0  1.0  2.0

## Join with languages

In [37]:
df_trans_val_lang = df_transformed.join(df_lang, how='left')

## filter NAN

In [40]:
df_trans_val_lang[pd.isna(df_trans_val_lang['Name'])]

Empty DataFrame
Columns: [100A, 101A, 102A, 103A, 104A, 105A, 106A, 107A, 108A, 108B, 109A, 109B, 10A, 10B, 110A, 111A, 112A, 113A, 114A, 115A, 116A, 117A, 118A, 119A, 11A, 120A, 121A, 122A, 123A, 124A, 125A, 126A, 127A, 128A, 129A, 12A, 130A, 130B, 131A, 132A, 133A, 134A, 135A, 136A, 136B, 137A, 137B, 138A, 139A, 13A, 140A, 141A, 142A, 143A, 143B, 143C, 143D, 143E, 143F, 143G, 144A, 144B, 144C, 144D, 144E, 144F, 144G, 144H, 144I, 144J, 144K, 144L, 144M, 144N, 144O, 144P, 144Q, 144R, 144S, 144T, 144U, 144V, 144W, 144X, 144Y, 14A, 15A, 16A, 17A, 18A, 19A, 1A, 20A, 21A, 21B, 22A, 23A, 24A, 25A, 25B, ...]
Index: []

[0 rows x 208 columns]

## Output

In [41]:
df_transformed.to_csv('data/vals_transformed')

# Check NaN

In [ ]:
df_lang[df_lang.index.isna()]

# Language Nandi's ID is stupidly 'nan' which Pandas translates to nAn!!

# Spot check European languages

In [39]:
# df_transformed.head()

df_euro = pd.read_csv('data/european_languages.csv', sep=',')
df_probe = df_transformed[ df_transformed.index.isin(df_euro['ID'])]

df_probe = df_probe.join(df_lang['Name'], how = 'inner')

df_probe.to_csv('data/foo.csv')